In [1]:
'''Primero se importan los módulos necesarios para el desarrollo del algoritmo'''
import pandas as pd

In [2]:
'''Cargamos el conjunto de datos'''
df = pd.read_csv('data_act_01.csv', sep=';')
'''Imprimimos y vizualizamos el conjunto de datos'''
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [3]:
""" obtener informacion de variables del dataset """
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

# Primer error - Columna Range con valores NaN

In [4]:
'''Eliminamos la columna de Range junto con todos sus valores NaN'''
df.drop(['Range'], axis='columns', inplace=True)

In [5]:
'''Imprimimos y vizualizamos el conjunto de datos'''
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

Para realizar un analisis de datos con valores null se dijita el sigueinte comando.

In [6]:
'''Verificar los valores null en los registros del dataset'''
df.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     321
State                      3
AgencyId                   0
AddressType                0
dtype: int64

# Segundo error - Tratar los null de la columna city

In [7]:
'''Busqueda de registros de la columna city, tomando en cuenta los null'''
print(df['City'].value_counts(dropna=False))

San Francisco    9665
NaN               321
Treasure Isla      51
Daly City           5
Yerba Buena         3
Presidio            3
SAN FRANCISCO       1
 S                  1
Brisbane            1
Name: City, dtype: int64

In [8]:
'''Seleccion de los datos null para la convercion a cero'''
df[['City']] = df[['City']].fillna(value=0)

In [9]:
'''Verificacion del cambio del tipo de registro Nan a cero'''
print(df['City'].value_counts(dropna=False))

San Francisco    9665
0                 321
Treasure Isla      51
Daly City           5
Yerba Buena         3
Presidio            3
SAN FRANCISCO       1
 S                  1
Brisbane            1
Name: City, dtype: int64

In [10]:
'''Verificar los valores null en los registros de la columna city'''
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    3
AgencyId                 0
AddressType              0
dtype: int64

# Tercer error - Tratar los null  de la columna state

In [11]:
'''Busqueda de registros  de la columna state, tomando en cuenta los null'''
print(df['State'].value_counts(dropna=False))

CA     10048
NaN        3
Name: State, dtype: int64

In [12]:
'''Seleccion de los datos null para la convercion a cero'''
df[['State']] = df[['State']].fillna(value=0)

In [13]:
'''Verificacion del cambio del tipo de registro Nan a cero'''
print(df['State'].value_counts(dropna=False))

CA    10048
0         3
Name: State, dtype: int64

In [14]:
'''Verificar los valores null en los registros de la columna state'''
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

# Cuarto error - Correccion de acronimos incorrectos

In [15]:
'''Busqueda de registros de la columna disposition'''
print(df['Disposition'].value_counts(dropna=False))

HAN             2820
CIT             1425
GOA             1273
ADV             1142
REP              800
Not recorded     543
ND               427
UTL              385
CAN              353
NOM              324
PAS              170
ABA               97
NCR               82
22                77
ARR               65
ADM               48
INC               17
CRT                2
SFD                1
Name: Disposition, dtype: int64

In [16]:
'''Realizo la modificacion del dato numerico incorrecto por uno del tipo texto'''
df['Disposition']= df['Disposition'].replace('22', 'AMZ')

In [17]:
'''Realizo la modificacion del dato Not recorded por otro'''
df['Disposition']= df['Disposition'].replace('Not recorded', 'NR')

In [18]:
'''Busqueda de registros de la columna disposition'''
print(df['Disposition'].value_counts(dropna=False))

HAN    2820
CIT    1425
GOA    1273
ADV    1142
REP     800
NR      543
ND      427
UTL     385
CAN     353
NOM     324
PAS     170
ABA      97
NCR      82
AMZ      77
ARR      65
ADM      48
INC      17
CRT       2
SFD       1
Name: Disposition, dtype: int64